<a href="https://colab.research.google.com/github/fleventy-5/football_data_collection/blob/main/data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Code for downloading all the available Premier league data(Matches stats from https://www.football-data.co.uk)From 1993/94 till 2021/22 seasons at the time of this notbook creation.

In [9]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [10]:
start=[2021,2022]
seasons=[]
for i in range(29):
  a_string = str(start[0]-i)
  a_length = len(a_string)
  b_string = str(start[1]-i)
  b_length = len(b_string)
  seasons.append(a_string[a_length - 2: a_length]+b_string[b_length - 2: b_length])


df = []
for i in seasons:
  url="https://www.football-data.co.uk/mmz4281/"+i+"/E0.csv"
  df.append(pd.read_csv(url,encoding= 'unicode_escape',on_bad_lines='skip'))

In [11]:
res=['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR']

for i in df:
  i.drop(i.columns.difference(res), 1, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [12]:
df[21].head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,E0,19/08/00,Charlton,Man City,4,0,H,2,0,H,...,14,4,6,6,13,12,1,2,0,0
1,E0,19/08/00,Chelsea,West Ham,4,2,H,1,0,H,...,10,5,7,7,19,14,1,2,0,0
2,E0,19/08/00,Coventry,Middlesbrough,1,3,A,1,1,D,...,3,9,8,4,15,21,5,3,1,0
3,E0,19/08/00,Derby,Southampton,2,2,D,1,2,A,...,4,6,5,8,11,13,1,1,0,0
4,E0,19/08/00,Leeds,Everton,2,0,H,2,0,H,...,8,6,6,4,21,20,1,3,0,0

In [13]:
#csv_merged = pd.concat(df, ignore_index=True)
csv_merged = pd.concat(df[0:21], ignore_index=True) #for 22 Season from 21/22 and before

In [14]:
#Save to drive
from google.colab import drive

drive.mount('/content/drive')
path = '/content/drive/My Drive/football.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  csv_merged.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).